<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&display=swap" rel="stylesheet">


</head>

<body>
    <div id="app">
        <div class="wrapper">
            <div class="left-col">
                <div class="left-header">

                    <img class="avatar-list" src="img/avatar_io.jpg" alt="">
                    <p class="strong">Sofia</p>

                </div>
                <div class="left-banner">
                    <div class="avatar-list"></div>
                </div>
                <div class="left-search-bar">
                    
                    <input type="text" class="input-bar" placeholder="Cerca o inizia una nuova chat" v-model.trim="filterInput" @keyup="filterInputFun">
                    </span>
                </div>
                <div class="scroll-list">
                    <ul class="ul-list">
                        <li class="contacts" :class="index === activeIndex ? 'active' : ''" 
                        v-show="people.visible" v-for="(people, index) in contacts" @click="currentIndex(index)">

                            <img class="avatar-list" :src="`img/avatar` + people.avatar +`.jpg`" alt="">
                            <div class="person-info">
                                <p class="strong">{{people.name}}</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                            <p>12:00</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="right-col">
                <!-- header right -->
                <div class="right-header">
                    <img class="avatar-list" :src="`img/avatar${contacts[activeIndex].avatar}.jpg`" alt="">
                    <div class="person-info">
                        <p class="strong">{{contacts[activeIndex].name}}</p>
                        <p>Ultimo messaggio inviato</p>
                    </div>
                </div>
                <!-- /header right -->
                <!-- main -->
                <div class="right-main">
                    <!-- <div class="msg-row" 
                    :class="message.status"
                    v-for="">
                        <div class="messages">
                            ciao
                        </div>
                    </div> -->
                    <div class="msg-row" :class="sms.status" v-for="sms in contacts[activeIndex].messages">
                        <div class="messages" >
                           <p>{{sms.message}}</p> 
                           <p class="date">{{sms.date.substring(11).slice(0,-3)}}</p>
                        </div>
                    </div>


                </div>
                <!-- /main -->

                <!-- footer -->
                <div class="right-footer">
                    <div class="icons">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                    <input type="text" class="footer-bar" name="" id="" placeholder="scrivi un messaggio"
                    v-model.trim="userMessage"
                    @keyup.enter="insertMessage()" >
                    <div class="icons">
                    <i class="fa-solid fa-microphone"></i>
                </div>
                </div>
                <!-- /footer -->

            </div>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js" integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="js/script.js"></script>
</body>

</html>